<script src="https://code.highcharts.com/highcharts.js"></script>
<script>$(function () {

    Highcharts.chart('container', {

        title: {
            text: 'Prices and your predictions in previous rounds'
        },

        credits: {
            enabled: false
        },

        yAxis: {
            title: {
                text: 'Price level'
            }
        },
        legend: {
            layout: 'horizontal',
            align: 'center',
            verticalAlign: 'bottom'
        },

        xAxis: {
            title: {
                text: 'Round'
            },
            categories: {{ rounds }}
        },

        series: [{
            name: 'Price',
            data: {{ prices_series }}
        }, {
            name: 'Your expectation',
            data: {{ expected_prices_series }}
        },],

        responsive: {
            rules: [{
                condition: {
                    maxWidth: 500
                },
                chartOptions: {
                    legend: {
                        layout: 'horizontal',
                        align: 'center',
                        verticalAlign: 'bottom'
                    }
                }
            }]
        }

    });
});
</script>
<style>
    #container {
        min-width: 210px;
        max-width: 500px;
        height: 400px;
        margin: 0 auto
    }
</style>

    <div id="container"></div>

