{% extends "michael_shin/PageExt.html" %}
{% load staticfiles otree %}


{% block title %}{% endblock %}

{% block content %}




    {% if ef %}
        {% if subsession.participation_stage %}
            <table class="table">
                <tr>
                    <td>The following round has been picked for payment:</td>
                    <td>{{ player.paying_round_e }}</td>
                </tr>
                <tr>
                    <td>In that round you have earned for forecasting:</td>
                    <td>{{ f_payoff }}</td>
                </tr>
                <tr>
                    <td>In that round you have earned for participation:</td>
                    <td>{{ e_payoff }}</td>
                </tr>
            </table>
        {% else %}
            <table class="table">
                <tr>
                    <td>The following round has been picked for payment:</td>
                    <td>{{ player.paying_round_e }}</td>
                </tr>
                <tr>
                    <td>In that round you have earned for forecasting:</td>
                    <td>{{ f_payoff }}</td>
                </tr>
            </table>
        {% endif %}
    {% else %}
        {% if subsession.participation_stage %}
            <table class="table">
                <tr>
                    <td>The round picked for payment for forecasting:</td>
                    <td>{{ player.paying_round_f }}</td>
                </tr>
                <tr>
                    <td>You earned for forecasting in this round:</td>
                    <td>{{ f_payoff }}</td>
                </tr>
                <tr>
                    <td>The round picked for payment for participation:</td>
                    <td>{{ player.paying_round_e }}</td>
                </tr>
                <tr>
                    <td>You earned for participation in this round:</td>
                    <td>{{ e_payoff }}</td>
                </tr>
            </table>
        {% else %}
            <table class="table">
                <tr>
                    <td>The first round picked for payment for forecasting:</td>
                    <td>{{ player.paying_round_f }}</td>
                </tr>
                <tr>
                    <td>You earned for forecasting in this round:</td>
                    <td>{{ f_payoff }}</td>
                </tr>
                <tr>
                    <td>The second round picked for payment for forecasting:</td>
                    <td>{{ player.paying_round_e }}</td>
                </tr>
                <tr>
                    <td>You earned for forecasting in this round:</td>
                    <td>{{ e_payoff }}</td>
                </tr>
            </table>
        {% endif %}
    {% endif %}


    <h4> Thank you for participating.</h4>

    {% next_button %}

{% endblock %}
