{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %} Forecast Price {% endblock %}

{% block content %}
    {% if view.round_number > 1 %}


                <div class="col-md-6">
                    {% include 'michael_shin/charts.html' %}
                </div>


                <div class="col-md-6 scrtable">
                    {% include 'michael_shin/result_table.html' %}
                </div>

    {% endif %}

    {% block inner_content %}
    {% endblock %}

{% endblock %}

{% block styles %}
    <style>
.scrtable{
    height:400px;
overflow: scroll;
    }
    </style>
{% endblock %}
