{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %} Forecast Price {% endblock %}

{% block content %}
    {% if view.round_number > 1 %}

        <div class="container-fluid">
            <div class="row">
                <div class= {% if subsession.participation_stage %}"col-sm-6"{% else %}"col-sm-8"{% endif %}>
                    {% include 'michael_shin/charts.html' %}
                </div>
                <div class= {% if subsession.participation_stage %}"col-sm-6 scrtable"{% else %}"col-sm-4 scrtable"{% endif %}>
                    {% include 'michael_shin/result_table.html' %}
                </div>
            </div>
        </div>

    {% endif %}

    {% block inner_content %}
    {% endblock %}

{% endblock %}

{% block styles %}
    <style>
        .scrtable {
            height: 400px;
            overflow-y: auto;
        }
    </style>
{% endblock %}
