{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %} Forecast Price {% endblock %}

{% block content %}
    {% if view.round_number > 1 %}

        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    {% include 'michael_shin/charts.html' %}
                </div>
                <div class="col scrtable">

                    {% include 'michael_shin/result_table.html' %}
                </div>
            </div>
        </div>

    {% endif %}

    {% block inner_content %}
    {% endblock %}

{% endblock %}

{% block styles %}
    <style>
        .scrtable {
            height: 400px;
            overflow: scroll;
        }
    </style>
{% endblock %}
